# Dependencies
node_modules/

# Next.js
.next/
out/

# Prisma
*.db
*.db-journal

# Environment
.env
.env.local
.env.production.local
.env.development.local

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Build
dist/
build/

# Misc
*.zip
*.log
bysarou-os/
stitch_extracted/
theme_export/
